@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.mainBlock {
  min-height: 100vh;
  padding: 10px 0;
  @include flexable(space-between, center, column);

  .container {
    @include container();
  }

  .greeting {
    width: 500px;
    text-align: left;

    h5, span {
      @include text($textColorH5, 16px, 700, 40px, 1px);
      margin: 0 0 15px;
      text-transform: uppercase;
    }

    h1 {
      @include text($textColorH1, 38px, 700, 40px, normal);
      text-transform: uppercase;
      margin: 0 0 15px;
      line-height: 1.1;
    }
  }

  .photo {
    display: flex;
    flex-direction: column;
    width: 500px;

    img {
      height: auto;
      width: 100%;
      max-width: 720px;
    }
  }
}