$titleColor: #bebebe;
$textColorH1: #ffffff;
$textColorH2: #bebebe;
$textColorH3: #252527;
$textColorH3ForBurgerMenu: #555555;
$textColorPAndBtn: #ffffff;
$backgroundColor:#f5f5f5;
$textColorH4: #e3e3e3;
$textColorH5:#dedede;
$textColorP:#6a6a6a;
$textColorFooter:#929292;
$colorMenu: #555555;
$colorMenuHeader: #555555;
$backgroundColorMenu: #f5f5f5;
$backgroundColorBtn: #cbcbcb;
$bgColorBtnSendMessage: #ffffff;
$colorForForm:  #060606;
$colorForBorderInForm:  #1f1f20;
$colorForRunningLine:  #b6b6b6;
$textFontFamily: 'Poppins', sans-serif;
$bgPrimary: #1f1f20;
$bgSecondary: #252527;